.welcome-screen-top-animation {
  width: 180px;
  height: 180px;
  background-color: rgb(255 255 255 / 30%);
  backdrop-filter: blur(10px);
  position: absolute;
  right: 30%;
  top: 30%;
}

.welcome-screen-logo {
  width: 22%;
  height: 70%;
  border-radius: 5px;
}

.login-logo {
  border-radius: 10px;
}

@media screen and (max-width: 900px) {
  .login-mobile {
    width: 80% !important;
    height: 100vh !important;
  }
}
